.single-listing-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80vw;
    margin-left: 12vw;
    /* margin-right:180px */
    /* width:1310px */
}
@media screen and (width: 1728px){
    .media{
        margin-left: 14vw;
    }
}

@media screen and (width: 1512px){
    .media{
        margin-left: 3vw;
    }
}
@media screen and (width:1920px){
    .media{
        margin-left: 10vw;
    }
}
.subheader{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.img-container {
    display:flex;
    width:1070px;
    justify-content: space-between;
    margin-top:80px;

}

#single-listing-img{
    width:100%;
    height:400px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 4px;
}

#img-right {
    height:400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    margin-right:0;
    
}

#img-right img {
    width:300px;
    height:180px;
    border-radius: 4px;

}

.abp-address {
    display: flex;
    /* flex-wrap: nowrap; */
    width: auto;
    padding-bottom: 30px;
    

}
#bold-address {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.2rem;
    padding-right: 5px;
    font-weight: 900;
}

#sub-text{
    color: #767676;
    font-size: 1.2rem;
    padding-right: 5px;
}
.middle-combine {
    display: flex;
    width:1070px
}

.middle-meat{
    display: flex;
    align-items: center;
    /* width:1070px; */
    height: 80px;
    padding-bottom: 40px;
    border-bottom: 2px solid #e2e2e2;
}
.middle-meat h2 {
    padding-right: 7rem;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 7px;
}
.middle-meat #abp-beds, .middle-meat #abp-baths, .middle-meat #abp-sqft{
    width: 100px;
    padding-right: 20px;
    margin-top: 10px;
}
#abp-number {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.5rem;
    font-weight: 1000;
    margin: 8px;
}
#abp-string{
    color: #767676;
    font-size: 1rem;
}
#trigger {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1rem;
    width: 30%;
    height: 40px;
    color:white;
    background-color:#065535;
}


.fab {
    align-items: center;
    background-color: orange;
    border-radius: 50px;
    bottom: 30px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    left: 200px;
    height: 70px;
    width: 100px;
    transition: box-shadow 0.5s, transform 0.25s;
    zoom: 1;
    font-size: 30px;
}

.fab.is-hidden {
    transform: scale(0);
}

.gray-line {
    border-bottom: 1px solid gray; 
    width:1000px
}

.about-this-home {
    font-family: 'Libre Franklin', sans-serif;
    width:740px;
    /* margin-left: 13vw;
    margin-right: 180px; */
    margin-bottom: 100px;
}

.aboutHomeMap{
    margin-top: 70px;
}

.listing-description{
    width: 731px;
    margin-bottom: 50px;
    margin-top: 40px;  
    line-height: 25px;
}


.listing-description span{
    /* color:#767676; */
    font-size: 1rem;
    font-weight: 300;
  
}
.keydetails-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.keydetail{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    width: 45%;
    font-weight: 350;
    font-size: 1.2rem;
}
.column-name-gray{
    word-break: break-word;
    color: #767676;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
}

.text-right{
    width: 50%;
    padding-left: 3px;
    word-break: break-word;
    text-rendering: optimizeLegibility;
}

.keydetails-list {
    margin-bottom: 60px;
}
.listing-main-stats {
    vertical-align: top;
    width: 720px;
    display: inline-block;
    border-bottom: 1px solid #e2e2e2;
}
.inline-block{
    width:1070px;
}

@media(max-width:614px){
    .img-container {
        flex-direction: column;
    }
    #img-right{
        display: none;
    }
    #single-listing-img {
        width: 80vw;
        height: 240px;
        border-radius: 20px;
    }
    .listing-description {
        width: 321px;
        margin-right: 10px;
    
    }
    .single-listing-container {
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .listing-description span{
        font-size: 0.8rem;
        line-height: 0px;
    }
    .about-this-home{
        width:313px;
    }
    .inline-block {
        width: 370px;
    }
    .keydetail {
        font-size: 0.7rem;
    }
    .text-right{
        font-size: 0.7rem;
        width: 100px;
        /* padding-left: 0px; */
    }
    .middle-meat{
        display: flex;
        flex-wrap: wrap;
        width:331px;
        height: 30px;
    }
    .column-name-gray {
        width: 50px;
    }
    .middle-meat h2 {
        width:50px;
        font-size: 1rem;
    }
    
    .abp-address{
        padding-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .rightSmallMap{
        display: none;
    }
    div#bold-address, div#sub-text {
        font-size: 0.8rem;
        padding-right: 5px;
    }
    .middle-meat #abp-beds, .middle-meat #abp-baths, .middle-meat #abp-sqft {
        width:20px;
        padding-right: 30px;
    }
    #abp-number{
        font-size: 0.8rem;
    }
    #abp-string{
        font-size: 0.8rem;
    }
    .inline-block {
        display: flex;
        flex-direction: column;
    }
}