.new-listing-page{
    height: 100vh;
    width: 100vw;
    font-family: 'Libre Franklin', sans-serif;
}

.house-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.house-form h1 {
    margin-left: 40px;
}

form.house-form {
    width: 80vw;
    padding: 40px ;
}
textarea {
    height:160px;
}

#houseSubmitButton {
    width: 74vw;
    margin-left: 40px;
    margin-right: 40px;
    height: 40px;
    color:white;
    font-size: 25px;
    background-color:#065535;
    border-radius: 4px;
}
.image-preview {
    width:80vw;
    margin-left: 80px;
}
.image-preview h1 {
    text-align: center;
    margin-bottom: 20px;
}
.single-image-style{
    height: 200px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 0.2);;
}

.photos-bucket{
    display: flex;
}
.listing-form-errors{
    text-transform: none;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 1000;
    font-size: 15px;
    line-height: 16px;
    color:red;
    margin: 15px;
}
.form-label-input{
    display: flex;
}
.form-column{
    margin:40px;
    width:333px
}