.home-search {

    display: flex;
    flex-direction: column;
    justify-content: center;

    /* color: whitesmoke;
    */
    
}
a {
    /* color:aliceblue; */
    font-family:'Libre Franklin', sans-serif ;
    text-align: left;
    line-height: 2.75rem;
    padding: 14px 16px;
    padding-left: 0;
    text-decoration: none;
    font-size: 17px;
}
.search-container input[type='text'] {
    width: 50%;
    padding: 9px;
  
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 22px;
    resize: vertical;
}
* {box-sizing: border-box;}

.search-container button {
    padding: 8px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background: rgb(117, 115, 115);
}
#inner-search {
   padding:100px

}

h1 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 2.25rem;
    font-weight: 100;
    line-height: 2.75rem;
    margin: 0 0 0.5rem;
}