.foot-section{
    /* background-color: rgb(30, 60, 60); */
    background-image: url('footer.png');
    background-size: cover;
    background-position: center;
    height: 200px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.fa-brands, .fab {
    font-weight: 800;
    font-size: 5.5rem;
    margin-right: 20px;
    background-color:black;
}

.github-linkedin{
    width:800px;
}

.foot-section p{
    margin-left: 30px;
    margin-bottom: 0;
    text-align: end;
    color:white
}
@media(max-width:614px){
    .foot-section p{
        display: none;
    }
    .github-linkedin{
        margin-left: 20vw;
    }

}