.splash {
    background-position: 100%;
    position: relative;
    background-image: url('https://ssl.cdn-redfin.com/v450.0.1/images/homepage/banners/genHomepageDesktopBanner/Q1_RedfinRentals_DESKTOP_HERO.jpg');
    background-size: cover;
    width: 100%;
    height:500px;
    /* color:aliceblue */
}
.splash,a {
    color:aliceblue
}

@media (max-width:614px) {
    .splash {
        background-image: url('Vivian_Xi_a_girl_dreming_her_future_real_estate_15f9595f-a35f-4995-b807-09b6472127cf.png');
    }
}