@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;500&display=swap');

.home-search {

    display: flex;
    flex-direction: column;
    justify-content: center;
}
a {
    /* color:aliceblue; */
    font-family:'Libre Franklin', sans-serif ;
    text-align: left;
    line-height: 2.75rem;
    padding: 14px 16px;
    padding-left: 0;
    text-decoration: none;
    font-size: 17px;
}
.search-container input[type='text'] {
    width: 40%;
}


.search-container button {
    margin-top: 10px;
    margin-right: 16px;
    height:42px;
    background: darkgreen;
    font-size: 17px;
    border: 1px solid darkgreen;
    border-radius: 2px;
    cursor: pointer;
    padding-top:6px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 8px;
}

.search-container button:hover {
    background: rgb(117, 115, 115);
}
#inner-search {
    padding-left: 150px;
    padding-top:50px;                                                                                      
    padding-bottom: 150px;

}
.abc{
    height: 100vh;
}
.nodatafind{
    margin-top: 0;
    height: calc(100% - 200px);
    background-color: rgb(242, 242, 242);
    font-size: xxx-large;
    color: #696969;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

i.fa-solid .fa-face-sad-cry{
    font-size: 1000px;
    padding-top: 1000px;
}
h1 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 2.25rem;
    font-weight: 1000;
    line-height: 2.75rem;
    margin: 0 0 0.5rem;
}
.search-map .map-container {
    width:50vw;
    height: 100vh;
  
    position: sticky !important;
    top: 0px;
}
/* .search-map,.map-container{
    position: sticky !important;
    top: 0px;
} */
.search-result-page {
    display: flex;
    /* position: relative; */
    /* min-height:100%; */
}
.search-map{
    position: relative; 
    min-height: 100%;
}
.filtered-listings {
    margin-left: 20px;
    min-height:100%;
    margin-top: 70px;
}


.filtered-listings h1 {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: xx-large;
}

.custom-filter-label {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.custom-filter-label button {
    background-color: white;
    font-size: .875rem;
    margin-top: 10px;
    margin-right: 16px;
    height:40px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    cursor: pointer;
    padding-top:6px;
    padding-right: 20px;
    padding-left: 15px;
    padding-bottom: 8px;
    color: #696969;

}


@media (orientation: portrait),(max-width: 1000px) {
    #inner-search {
        padding-left: 50px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .home-h1{
        font-size: 30px;
        line-height: 2rem;
    }
    .home-h2{
        font-size: 30px;
    }
}

@media (max-width:514px) {
    .search-result-page {
        flex-direction: column;
    }
    .search-map .map-container {
        width: 100vw;
        height: 50vh;
        position: sticky !important;
        top: 0px;
    }
    .filtered-listings {
        margin-top: 20px;
    }
    .filtered-listings h1{
        font-size: 1.2rem;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    p#homeaddress {
        font-size: 0.7rem;
        margin-bottom: 10px;
    }
    .row-flex {
        display: flex;
        flex-direction: column;
    }
    .search-container input[type='text'] {
        width: 60%;
        letter-spacing: 0rem;
    }
}