/* @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap');


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Libre Franklin', sans-serif;
    background-color: rgba(0, 0, 0, 0.2);
    /* color: white; */
}

/* right side of the navbar */
.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
}

#logo {
    font-family: 'Days One', sans-serif;
    font-size: 40px;
    margin-left: 20px;
}


.menue_item_clickable {
    padding: 0 20px;
    cursor: pointer;
    text-decoration: none;
}

button#sign_log{
    background: transparent;
    border:none;
    color:white;
    font-size: 20px;
}
button#demo {
    border: none;
    background: linear-gradient(90deg, #E2FF24 0%, #24FE41 100%);
    border-radius: 100px;
    color:black;
}
.profile {
    position: relative;
    display: inline-block;
    right:0
}

ul.profile-dropdown {
    display: flex;
    justify-content:space-around;
    margin-right: -10px;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 500px;
    height: 400px;
    padding-left: 0px;
}

#my-greenfin li, #my-setting li {
    color: #767676;
    padding-top:4px;
    margin: 3px;
    width:200px;
    text-decoration: none;
    display: block;
    cursor: pointer;

}
#my-greenfin, #my-setting {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    margin-top: 10px;
    width:200px
    
}
li#greenfin-v1, li#setting-v1 {
    color:black;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 4px;
}
li {
    font-weight: 'Libre Franklin', sans-serif;
    font-size: 13px;

}

li#profile-dropdown-button {
    padding-top:10px;
    margin:10px;

}

li button {
    background-color: #ccc;
    height: 30px;;
    width:90px;
    border-radius: 4px 4px 4px 4px;
    transition: all .1s ease-out 0s;
}


.profile #img-btn {
    background-color: transparent;
    border: none;
}
.profile img {
    border-radius: 50%;
    width:37px;
    clip-path: circle();
}

i.fa-solid.fa-user{
    font-size: 20px;
    color:darkgreen;;
}

.header-right h3{
    margin-right: 40px;
}

@media (orientation: portrait),(max-width: 900px) {
    /* .header-right{
        position: relative;
        display: none;
    } */
    #logo {
        font-size: 26px;
    }
    h3 {
        display: none;
    }
    button#demo {
        font-size: 12px;
        padding: 1px 0.8rem;
    
    }
    header {
        justify-content:space-between;
    }
}
@media (orientation: portrait),(max-width: 1100px) {
    h3 {
        display: none;
    }
}
@media(max-width:614px){
    #logo {
        padding-top:10px;
        padding-right: 0;
   
        font-size: 20px;
    }
    ul.profile-dropdown {
        width:80vw;
        height: 20vh;
    }
    #my-greenfin li, #my-setting li {
        width:100px;
        font-size: 0.5rem;

    }
    li#greenfin-v1, li#setting-v1 {
        font-size: 0.8rem;
    }
}